<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>
      Ta participation au concert de <%= @gig.name %> a bien été prise en compte !
    </p>
    <p>
      Ce concert aura lieu le <%= @gig.date %>, note le dans ton agenda !
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur mon-petit-criquet !
  </body>
</html>