<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="style.scss">
</head>

<body class="ecommerce-page">

    <div class="wrapper">
        <div id="carouselExampleIndicators" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto2">
                                    <h1 class="title">Les chatons les plus mignons</h1>
                                    <h4 class="description text-white">Des boules de poils trop choupinous</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/39255/cat-favorite-relaxation-rest-39255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">Les chatons les plus cons</h1>
                                    <h4 class="description text-white">Idiots et rigolos nous les avons tous</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/171227/pexels-photo-171227.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <h1 class="title">Trop Lolilol</h1>
                                    <h4 class="description text-white">HIHIHIHIHIHIHIHIHI (putain c'est con)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="fas fa-arrow-circle-left fa-5x"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="fas fa-arrow-circle-right fa-5x"></i>
            </a>
        </div>
        <div class="main">
            <div class="section">
                <div class="container">
                    <h2 class="section-title">Tout nos chatons</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="collapse-panel">
                                <div class="card-body">
                                    <div class="card card-refine card-plain">
                                        <h4 class="card-title">
                                            Rechercher
                                            <button class="btn btn-default btn-icon btn-neutral pull-right" rel="tooltip" title="Reset Filter">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </h4>
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h6 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Prix
                                                    <i class="fas fa-euro-sign"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                <span id="price-left" class="price-left pull-left" data-currency="&euro;">0</span>
                                                <span id="price-right" class="price-right pull-right" data-currency="&euro;">1000</span>
                                                <div class="clearfix"></div>
                                                <div id="sliderRefine" class="slider slider-refine"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-refine card-plain">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Races
                                                    <i class="fas fa-cat"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <div class="checkbox">
                                                    <input id="checkbox1" type="checkbox" checked="">
                                                    <label for="checkbox1">
                                                        Gouttière
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        Siamois
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3">
                                                        Maine Coon
                                                    </label>
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-refine card-plain">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Style
                                                    <i class="fas fa-rainbow"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="checkbox">
                                                    <input id="checkbox9" type="checkbox">
                                                    <label for="checkbox9">
                                                        Gaudriole
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox10" type="checkbox">
                                                    <label for="checkbox10">
                                                        Chutes
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox11" type="checkbox">
                                                    <label for="checkbox11">
                                                        Feu
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">

                          <%@bars.each do |bar|%>
                          
<div class="col-md-6 ml-auto">
  <div class="card card-background card-background-product card-raised" style="background-image: url('https://images.pexels.com/photos/1185434/pexels-photo-1185434.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
    <div class="card-body">
    <h2 class="card-title"><%= bar.name %></h2>
      <p class="card-description">
      <%= bar.city %></br>
      Prix : <%= bar.price.price_range %>
    </p>
    <label class="badge badge-neutral">Concerts</label>
    </div>
  </div>
</div>
                                 
                          <%end%> 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        <!-- end-main-raised -->
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function() {

        var slider2 = document.getElementById('sliderRefine');

        noUiSlider.create(slider2, {
            start: [42, 880],
            connect: true,
            range: {
                'min': [30],
                'max': [900]
            }
        });

        var limitFieldMin = document.getElementById('price-left');
        var limitFieldMax = document.getElementById('price-right');

        slider2.noUiSlider.on('update', function(values, handle) {
            if (handle) {
                limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
            } else {
                limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
            }
        });
    });
</script>

</html>
