<head>
    <meta charset="utf-8" />
</head>

<body class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="black">
            <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/2000885/pexels-photo-2000885.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') ;">
            </div>
            <div class="content-center">
                <h3 class="title">Mon Profil</h3>
                <div class="content">
                    <div class="social-description">

                        <%= link_to "Éditer mon profil", edit_user_registration_path, method: :get, :class => "btn btn-round btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
