<div class="page-header section-image">
  <div class="page-header-image" style="background-image:url(https://images.pexels.com/photos/1717079/pexels-photo-1717079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)"></div>
    <div class="content">
      <div class="container">
        <h2>Mot de passe oublié ?</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group col-md-auto ml-auto">
              <label>Votre adresse mail</label>
              <input class="form-control input-small" placeholder="Saisissez votre adresse mail..." type="email" value="" name="user[email]" id="user_email">
            </div>
      </div>



      <%= render "devise/shared/links" %>

    <% end %>
    </div>
    </div>
    </div>
